* {
    margin: 0;
    padding: 0;


}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-nav {
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns: 7rem 1fr 2fr 1fr 7rem;
    box-shadow: 10px 10px 8px 10px #888888;
    background-color: cornsilk;
}

.logo {
    grid-column: 2/3;
    display: grid;
    justify-content: start;
    align-items: center;
}



.logo h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee rgb(69 57 248));
    -webkit-text-fill-color: darkgrey;
}

.menu {
    grid-column: 3/4;
}

.menu ul {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu ul li:hover {
    font-size: 1.5rem;
    transition: all 200ms;
    font-size-adjust: 1rem;

}

.social-media {
    grid-column: 4/5;


}

.social-media ul {
    height: 3rem;
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    align-items: center;
}

.social-media ul li {
    text-align: start;
}

.social-media ul li:first-child {
    grid-column: 2/3;
}
.social-media ul li:hover{
    font-size: 1.5rem;
    transition: all 200ms;
    font-size-adjust: 1rem;
    
}

.foter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.caro {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr 1fr 7rem;
    background-color: #fff;
}

   


.hero-section{
    grid-column: 2/3;
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero-section p {
    font-size: 18px;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      
    

  
   
}



.hero-section h1 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      

}

.hero-section h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
       
   
}

.image-section img {
    height: auto;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}